﻿@model ThAmCo.Events.Data.CustomerMoviesDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>



<div>
    <h4>Customers events</h4>
    @if (Model.CustomerEvents.Any())
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Attended
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerEvents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attended)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Events", new { id = item.Event.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <p>this customer is not attending any events at the moment</p>
    }

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>